.button {
  display: inline-block;
  cursor: pointer;
  background-color: #58BDD1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-secondary;
  border: none;
  outline: none;
  font-weight: 700;
  color: $white;
  font-size: remcalc(20);
  padding: 1rem 2.5rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out, transform 0.25s ease-in-out;
  &:hover {
    background-color: #5DC8DE;
    transform: scale(1.1);
    transform-origin: center;
  }
  &--secondary {
    color: $black;
    border: 1px solid $black;
    background-color: transparent;
    &:hover {
      background-color: #5DC8DE;
      border-color: #5DC8DE;
      color: $white;
      transform: scale(1);
    }
  }
}
