@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700&display=swap');

$font-primary: 'Poppins', sans-serif; //400, 700
$font-secondary: 'Work Sans', sans-serif; //300, 500, 700

.header {
  font-family: $font-secondary;
  font-size: remcalc(50);
  font-weight: 500;
  text-decoration: none;
  color: $black;
  @media (max-width: $sm) {
    font-size: remcalc(40);
  }
  &--bold {
    font-size: remcalc(64);
    font-weight: 700;
    @media (max-width: $sm) {
      font-size: remcalc(45);
    }
  }
  &--light {
    font-size: remcalc(60);
    font-weight: 300;
    @media (max-width: $sm) {
      font-size: remcalc(42);
    }
  }
}

.copy {
  font-size: remcalc(20);
  font-weight: 400;
  line-height: 1.7;
  text-decoration: none;
  color: $black;
  &--bold {
    font-weight: 700;
  }
}
