@import './reset';
@import './utils';
@import './colors';
@import './breakpoints';
@import './typography';
@import './buttons';
@import './keyframes';
@import './container';

@import './partials/nav/nav-desktop';
@import './partials/nav/nav-mobile';
@import './partials/footer';
@import './partials/contact';
@import './partials/cookies';
@import './partials/newsletter';
@import './partials/modal';

@import './pages/homepage/homepage';
@import './pages/homepage/banner';
@import './pages/homepage/diets';
@import './pages/homepage/delivery';
@import './pages/homepage/why';
@import './pages/homepage/break';
@import './pages/homepage/testimonials';
@import './pages/homepage/bottom';

@import './pages/diets/diets';
@import './pages/diets/banner';
@import './pages/diets/boxes';

@import './pages/diet/diet';
@import './pages/diet/banner';
@import './pages/diet/boxes';
@import './pages/diet/calories';
@import './pages/diet/menu';
@import './pages/diet/slider';

@import './pages/contact/contact';
@import './pages/contact/banner';

@import './pages/about/about';
@import './pages/about/banner';
@import './pages/about/main';

@import './pages/pricing/banner';
@import './pages/pricing/diets';
@import './pages/pricing/meals-number';
@import './pages/pricing/pricing';
@import './pages/pricing/slider';

@import './pages/delivery/banner';
@import './pages/delivery/main';
@import './pages/delivery/form';
@import './pages/delivery/break';

@import './pages/document/document';


html {
  font-size: 14px;
  font-family: $font-primary;
  @media (max-width: 1440px) {
    font-size: 12px;
  }
}

body {
  padding-top: 5rem;
}

* {
  box-sizing: border-box;
}
