.document-page {
  background-color: #F2F2F2;
}

.document__main {
  padding: 7rem 0;
}

.document__title {
  margin: 0 0 2.5rem;
  text-align: center;
}

.document__subtitle {
  margin: 0 0 5rem;
  text-align: center;
  text-transform: uppercase;
}

.document__text {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.75;
  * {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.75;
  }
  b, strong {
    font-weight: 700;
  }
  a {
    color: $blue;
    text-decoration: none;
  }
}
