.diet-page {

  .diet__banner {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
    position: relative;
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    @media(max-width: $lg) {
      height: 50vh;
    }
    @media(max-width: $sm) {
      height: 80vh;
      padding: 0;
      align-items: flex-end;
    }
  }

  .banner__image {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.desktop {
      display: block;
      @media(max-width: $sm) {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @media(max-width: $sm) {
        display: block;
      }
    }
  }

  .banner__content {
    position: relative;
    z-index: 3;
    max-width: 40%;
  }

  .banner__title {
    margin: 0 0 2.5rem;
  }

  .banner__text {
    margin: 0 0 2.5rem;
    @media(max-width: $sm) {
      display: none;
    }
  }

  .banner__button {
    @media(max-width: $sm) {
      display: none;
    }
  }

  .banner__price {
    background-color: $white;
    position: absolute;
    right: -8rem;
    bottom: -6rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    text-align: center;
    @media(max-width: $sm) {
      display: none;
    }
    p {
      margin: 0.5rem 0 0 4rem;
      font-size: 1.8rem;
      font-weight: 700;
    }
    span {
      display: block;
      font-size: 3.15rem;
      font-weight: 700;
      margin-left: -2.5rem;
    }
  }
}

