.diet-page {

  .diet__boxes {
    max-width: 100vw;
    overflow: hidden;
  }

  .diet__box {
    margin: 10rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: $sm) {
      flex-direction: column-reverse;
      margin: 6rem 0;
    }
    &:nth-child(2n) {
      flex-direction: row-reverse;
      @media(max-width: $sm) {
        flex-direction: column-reverse;
      }
      img {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 4.5rem;
        border-top-right-radius: 4.5rem;
        transform-origin: right;
      }
    }
  }

  .diet__box-info {
    width: 45%;
    @media(max-width: $sm) {
      width: 100%;
      margin-top: 5rem;
    }
  }

  .diet__box-title {
    margin: 0 0 2rem;
  }

  .diet__box-text {
    span {
      color: $blue;
      font-weight: 700;
    }
  }

  .diet__box-image {
    width: 45%;
    @media(max-width: $sm) {
      width: 100%;
    }
    img {
      display: block;
      width: 100%;
      border-bottom-left-radius: 4.5rem;
      border-top-left-radius: 4.5rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
      transform: scale(1.2);
      transform-origin: left;
    }
  }

}
