.diet-page {

  .calories__row {
    margin-bottom: 6rem;
    @media (max-width: $sm) {
      margin-bottom: 3rem;
    }
  }

  .calories__title {
    text-align: center;
    margin-bottom: 4.5rem;
  }

  .calories__boxes {
    display: flex;
    justify-content: center;
    @media (max-width: $sm) {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 auto;
    }
  }

  .calories__box {
    margin: 0 5rem;
    text-align: center;
    @media (max-width: $lg) {
      margin: 0 3rem;
    }
    @media (max-width: $md) {
      margin: 0 1.25rem;
    }
    @media (max-width: $sm) {
      width: 30%;
      margin: 0 1.5% 2rem;
    }
  }

  .calories__box-title {
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 3rem;
    @media (max-width: $sm) {
      font-size: 2.5rem;
      margin: 0 0 2rem;
    }
  }
  .calories__box-text {
    text-transform: uppercase;
    @media (max-width: $sm) {
      font-size: 0.9rem;
    }
  }

}
