.diet-page {

  .menu__wrapper {
    margin-bottom: 6rem;
    @media (max-width: $sm) {
      margin-bottom: 3rem;
    }
  }

  .menu__title {
    text-align: center;
    margin-bottom: 4.5rem;
  }

  .menu__days {
    display: flex;
    justify-content: center;
    @media (max-width: $sm) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  .menu__day {
    background-color: #F2F2F2;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.16);
    margin: 0 1rem;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
    @media (max-width: $sm) {
      width: 25%;
      padding: 12.5% 0;
      margin: 0 2.5% 2rem;
    }
    &.active {
      color: $blue;
    }
  }

  .menu__list {
    margin: 7rem 0;
    display: none;
    flex-wrap: wrap;
    animation: fadeIn 0.25s ease-in-out forwards;
    @media (max-width: $sm) {
      margin: 3rem 0;
    }
    &.active {
      display: flex;
    }
  }

  .menu__list-box {
    margin: 0 3% 3rem;
    width: 27%;
    @media (max-width: $sm) {
      width: 100%;
      margin: 0 auto 2rem;
    }
  }

  .menu__list-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 2.5rem;
    @media (max-width: $sm) {
      font-size: 2.5rem;
      margin: 0 0 2rem;
    }
  }

  .menu__list-text {

  }

}
