/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.header {
  font-family: "Work Sans", sans-serif;
  font-size: 3.125rem;
  font-weight: 500;
  text-decoration: none;
  color: #333333; }
  @media (max-width: 576px) {
    .header {
      font-size: 2.5rem; } }
  .header--bold {
    font-size: 4rem;
    font-weight: 700; }
    @media (max-width: 576px) {
      .header--bold {
        font-size: 2.8125rem; } }
  .header--light {
    font-size: 3.75rem;
    font-weight: 300; }
    @media (max-width: 576px) {
      .header--light {
        font-size: 2.625rem; } }

.copy {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.7;
  text-decoration: none;
  color: #333333; }
  .copy--bold {
    font-weight: 700; }

.button {
  display: inline-block;
  cursor: pointer;
  background-color: #58BDD1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  border: none;
  outline: none;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out, transform 0.25s ease-in-out; }
  .button:hover {
    background-color: #5DC8DE;
    transform: scale(1.1);
    transform-origin: center; }
  .button--secondary {
    color: #333333;
    border: 1px solid #333333;
    background-color: transparent; }
    .button--secondary:hover {
      background-color: #5DC8DE;
      border-color: #5DC8DE;
      color: #ffffff;
      transform: scale(1); }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.container {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .container {
      width: 90%; } }

.nav__desktop {
  display: block;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.16); }
  @media (max-width: 768px) {
    .nav__desktop {
      display: none; } }
  .nav__desktop .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__desktop .nav__logo:hover img {
    transform: rotate(3deg); }
  .nav__desktop .nav__logo img {
    display: block;
    width: 4.5rem;
    transition: transform 0.25s ease-in-out; }
  .nav__desktop .nav__items {
    display: flex;
    align-items: center; }
  .nav__desktop .nav__item {
    margin: 0 1.5rem;
    white-space: nowrap; }
    @media (max-width: 1024px) {
      .nav__desktop .nav__item {
        margin: 0 1rem; } }
    .nav__desktop .nav__item.dropdown {
      position: relative;
      margin-right: 2rem;
      padding: 2rem 1rem; }
      .nav__desktop .nav__item.dropdown:hover > .dropdown-menu {
        display: block; }
      .nav__desktop .nav__item.dropdown:after {
        position: absolute;
        top: 45%;
        right: 0.25rem;
        content: "";
        background-image: url("images/chevron-down.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 1rem;
        height: 1rem; }
  .nav__desktop .nav__link {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    color: #333333;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    position: relative; }
    .nav__desktop .nav__link:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: transparent;
      width: 0;
      height: 0;
      border-radius: 50%;
      z-index: -1;
      transition: all 0.25s ease-in-out; }
    .nav__desktop .nav__link:hover:before {
      width: 2.5rem;
      height: 2.5rem;
      background-color: #B8DEE6; }
  .nav__desktop .dropdown-menu {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: -1rem;
    width: auto;
    background-color: #ffffff;
    padding: 0.5rem 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem; }
  .nav__desktop .dropdown-item {
    display: block;
    white-space: nowrap;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    padding: 1rem 0;
    transition: color 0.25s ease-in-out; }
    .nav__desktop .dropdown-item:hover {
      color: #37a8be; }
  .nav__desktop .nav__socials {
    display: flex; }
  .nav__desktop .nav__social {
    display: block;
    margin-left: 2rem;
    transition: all 0.25s ease-in-out;
    filter: brightness(0);
    transform-origin: center; }
    .nav__desktop .nav__social:hover {
      transform: scale(1.15);
      filter: none; }
    .nav__desktop .nav__social:first-of-type {
      margin-left: 0; }
    .nav__desktop .nav__social img {
      display: block;
      height: 1.5rem;
      width: auto; }

.nav__mobile {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 0;
  background-color: #ffffff;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.16); }
  @media (max-width: 768px) {
    .nav__mobile {
      display: block; } }
  .nav__mobile.active .nav__logo img {
    transform: scale(2); }
  .nav__mobile.active .nav__item {
    display: none; }
  .nav__mobile.active .nav__burger .nav__open {
    display: none; }
  .nav__mobile.active .nav__burger .nav__close {
    display: block; }
  .nav__mobile.active .nav__menu {
    display: block; }
  .nav__mobile .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__mobile .nav__logo {
    position: relative;
    z-index: 1000; }
    .nav__mobile .nav__logo img {
      display: block;
      width: 4rem;
      transform-origin: top left;
      transition: transform 0.25s ease-in-out; }
  .nav__mobile .nav__right {
    display: flex;
    align-items: center; }
  .nav__mobile .nav__item {
    margin: 0 1.5rem;
    font-size: 1rem; }
  .nav__mobile .nav__burger {
    margin-left: 1rem; }
    .nav__mobile .nav__burger img {
      width: 2.2rem;
      height: 2.2rem;
      object-fit: contain; }
    .nav__mobile .nav__burger .nav__open {
      display: block; }
    .nav__mobile .nav__burger .nav__close {
      display: none;
      transform-origin: center;
      transform: scale(0.9); }
  .nav__mobile .nav__menu {
    display: none;
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 5rem - calc(100vh - 100%));
    background-color: #ffffff;
    z-index: 999;
    animation: fadeIn 0.25s ease-in-out forwards; }
  .nav__mobile .nav__links {
    margin-top: 10rem; }
  .nav__mobile .nav__link {
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 2.5rem;
    color: #333333;
    font-weight: 600;
    font-family: "Work Sans", sans-serif; }
  .nav__mobile .nav__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7rem; }
  .nav__mobile .nav__socials {
    display: flex; }
  .nav__mobile .nav__social {
    display: block;
    margin-left: 3rem;
    transition: all 0.25s ease-in-out;
    filter: brightness(0);
    transform-origin: center; }
    .nav__mobile .nav__social:hover {
      transform: scale(1.15);
      filter: none; }
    .nav__mobile .nav__social:first-of-type {
      margin-left: 0; }
    .nav__mobile .nav__social img {
      display: block;
      height: 2.25rem;
      width: auto; }

.footer {
  padding: 2rem 0;
  width: 100%;
  background-color: #ffffff; }

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 768px) {
    .footer__wrapper {
      flex-direction: column; } }

.footer__left {
  width: 45%;
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .footer__left {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      text-align: center; } }

.footer__logo {
  margin-right: 7rem; }
  @media (max-width: 768px) {
    .footer__logo {
      margin: 0 auto; } }
  .footer__logo img {
    display: block;
    width: 7rem; }

@media (max-width: 768px) {
  .footer__info {
    margin: 3.5rem 0 2rem; } }

.footer__info-title {
  margin: 0; }

.footer__info-text {
  margin: 0; }

.footer__right {
  width: 45%; }
  @media (max-width: 768px) {
    .footer__right {
      width: 100%; } }

.footer__links {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media (max-width: 768px) {
    .footer__links {
      flex-direction: column;
      justify-content: center;
      text-align: center; } }
  .footer__links a {
    display: block;
    font-family: "Work Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    margin-left: 7rem; }
    @media (max-width: 768px) {
      .footer__links a {
        margin: 1rem auto; } }

.contact {
  padding: 1rem 0 4rem;
  border-radius: 2.5rem;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.16);
  background-color: #ffffff; }
  @media (max-width: 576px) {
    .contact {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; } }

.contact__title {
  text-align: center;
  margin-bottom: 5rem; }

.contact__text {
  text-align: center;
  margin-bottom: 3rem; }
  .contact__text span {
    font-weight: 700; }

.contact__boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 5rem auto 3rem; }
  @media (max-width: 576px) {
    .contact__boxes {
      flex-direction: column; } }

.contact__box {
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem; }
  @media (max-width: 576px) {
    .contact__box {
      margin-bottom: 3.5rem; } }
  .contact__box--half {
    width: 35%; }
    @media (max-width: 576px) {
      .contact__box--half {
        width: 100%; } }

.contact__box-title {
  margin: 0 0 1.5rem; }

.contact__box-link {
  display: block; }

.contact__socials-title {
  text-align: center; }

.contact__socials-boxes {
  display: flex;
  justify-content: center; }
  @media (max-width: 576px) {
    .contact__socials-boxes {
      flex-direction: column;
      align-items: center; } }

.contact__socials-box {
  margin: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333; }
  .contact__socials-box img {
    height: 2rem;
    width: auto;
    margin-right: 2rem; }

.contact__form-title {
  text-align: center;
  margin: 3.5rem 0; }
  @media (max-width: 576px) {
    .contact__form-title {
      display: none; } }

.contact__form {
  max-width: 45%;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .contact__form {
      max-width: 70%; } }
  @media (max-width: 576px) {
    .contact__form {
      display: none; } }
  .contact__form .form__row {
    margin-bottom: 1rem; }
    .contact__form .form__row.half {
      display: flex;
      justify-content: space-between; }
      .contact__form .form__row.half input {
        max-width: 48%; }
  .contact__form input[type="text"],
  .contact__form input[type="email"],
  .contact__form input[type="phone"],
  .contact__form textarea {
    font-size: 1.15rem;
    flex: 1;
    border: none;
    outline: none;
    color: #333333;
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9A9A9A;
    transition: border-color 0.25s ease-in-out; }
    .contact__form input[type="text"]::placeholder,
    .contact__form input[type="email"]::placeholder,
    .contact__form input[type="phone"]::placeholder,
    .contact__form textarea::placeholder {
      color: #333333; }
    .contact__form input[type="text"]:active, .contact__form input[type="text"]:focus,
    .contact__form input[type="email"]:active,
    .contact__form input[type="email"]:focus,
    .contact__form input[type="phone"]:active,
    .contact__form input[type="phone"]:focus,
    .contact__form textarea:active,
    .contact__form textarea:focus {
      border-color: #37a8be; }
  .contact__form textarea {
    min-height: 6rem; }
  .contact__form button {
    display: block;
    margin: 2rem auto; }

.contact__bottom {
  text-align: center;
  max-width: 30%;
  margin: 6.5rem auto 0; }
  @media (max-width: 1024px) {
    .contact__bottom {
      max-width: 50%; } }
  @media (max-width: 576px) {
    .contact__bottom {
      max-width: 100%;
      margin: 4rem auto 0; } }
  .contact__bottom span,
  .contact__bottom a {
    text-decoration: none;
    color: #37a8be;
    font-weight: 700; }

.cookies {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.16);
  animation: fadeIn 0.25s ease-in-out forwards; }
  @media (max-width: 1024px) {
    .cookies {
      flex-direction: column-reverse; } }
  .cookies.active {
    display: flex; }

.cookies__image {
  width: 30%; }
  @media (max-width: 1024px) {
    .cookies__image {
      width: 100%; } }
  .cookies__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media (max-width: 1024px) {
      .cookies__image img {
        height: 4rem; } }

.cookies__info {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 1rem 2rem; }
  @media (max-width: 1024px) {
    .cookies__info {
      flex-direction: column; } }

.cookies__title {
  margin: 0;
  font-size: 2.5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300; }

.cookies__text {
  margin: 0 3rem 0 5rem;
  font-size: 0.875rem;
  max-width: 40%; }
  @media (max-width: 1024px) {
    .cookies__text {
      max-width: 100%;
      margin: 1rem;
      text-align: center; } }
  .cookies__text a {
    color: #333333;
    text-decoration: underline; }

.cookies__button {
  color: #333333;
  border: 1px solid #333333;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out; }
  .cookies__button:hover {
    background-color: #5DC8DE;
    border-color: #5DC8DE;
    color: #ffffff; }

.newsletter {
  padding: 1.5rem 0 3.5rem; }

.newsletter__wrapper {
  max-width: 45%;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .newsletter__wrapper {
      max-width: 70%; } }
  @media (max-width: 576px) {
    .newsletter__wrapper {
      max-width: 100%;
      padding-top: 1rem; } }

.newsletter__title {
  text-align: center;
  margin-bottom: 3.5rem; }

.newsletter__text {
  text-align: center;
  margin-bottom: 6rem; }
  @media (max-width: 576px) {
    .newsletter__text {
      margin-bottom: 3rem; } }
  .newsletter__text span {
    font-weight: 700; }

@media (max-width: 576px) {
  .newsletter__form {
    padding: 0 2rem; } }
.newsletter__form .form__row {
  margin-bottom: 1rem; }
.newsletter__form input[type="text"],
.newsletter__form input[type="email"],
.newsletter__form input[type="phone"],
.newsletter__form textarea {
  font-size: 1.15rem;
  flex: 1;
  border: none;
  outline: none;
  color: #333333;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #9A9A9A;
  background-color: transparent;
  transition: border-color 0.25s ease-in-out; }
  .newsletter__form input[type="text"]::placeholder,
  .newsletter__form input[type="email"]::placeholder,
  .newsletter__form input[type="phone"]::placeholder,
  .newsletter__form textarea::placeholder {
    color: #333333; }
  .newsletter__form input[type="text"]:active, .newsletter__form input[type="text"]:focus,
  .newsletter__form input[type="email"]:active,
  .newsletter__form input[type="email"]:focus,
  .newsletter__form input[type="phone"]:active,
  .newsletter__form input[type="phone"]:focus,
  .newsletter__form textarea:active,
  .newsletter__form textarea:focus {
    border-color: #37a8be; }
.newsletter__form textarea {
  min-height: 6rem; }
.newsletter__form button {
  display: block;
  margin: 2rem auto; }
  @media (max-width: 576px) {
    .newsletter__form button {
      margin: 3.5rem auto 2rem; } }

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 99;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.25s ease-in-out forwards; }
  .modal.active {
    display: flex; }

.modal__box {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  border-radius: 2.5rem;
  padding: 5rem;
  width: 50%;
  margin: 0 auto;
  position: relative;
  text-align: center; }
  @media (max-width: 1024px) {
    .modal__box {
      width: 80%; } }
  @media (max-width: 576px) {
    .modal__box {
      margin-top: 2rem;
      width: 95%;
      padding: 3.5rem 2rem; } }

.modal__close {
  cursor: pointer;
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  right: 2.5rem;
  top: 2.5rem;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out; }
  .modal__close:hover {
    opacity: 1; }
  @media (max-width: 1024px) {
    .modal__close {
      width: 2.5rem;
      height: 2.5rem; } }
  @media (max-width: 576px) {
    .modal__close {
      width: 1.75rem;
      height: 1.75rem; } }

.modal__title {
  margin: 0 0 3rem; }

.modal__subtitle {
  margin: 0 0 3rem; }

.modal__text {
  margin: 0; }
  .modal__text span {
    color: #37a8be; }

.modal__buttons {
  margin-top: 2rem; }

.modal__button {
  margin: 1rem; }

.homepage {
  background-color: #F2F2F2; }

.home__banner .banner__slider {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  overflow: hidden; }
.home__banner .banner__slide {
  position: relative;
  height: 70vh;
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 1024px) {
    .home__banner .banner__slide {
      height: 50vh; } }
  @media (max-width: 576px) {
    .home__banner .banner__slide {
      height: 80vh;
      padding: 0; } }
.home__banner .banner__image {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .home__banner .banner__image.desktop {
    display: block; }
    @media (max-width: 576px) {
      .home__banner .banner__image.desktop {
        display: none; } }
  .home__banner .banner__image.mobile {
    display: none; }
    @media (max-width: 576px) {
      .home__banner .banner__image.mobile {
        display: block; } }
.home__banner .banner__slide-content {
  position: relative;
  z-index: 3;
  max-width: 50%; }
  @media (max-width: 1024px) {
    .home__banner .banner__slide-content {
      max-width: 60%; } }
  @media (max-width: 576px) {
    .home__banner .banner__slide-content {
      max-width: 100%;
      height: 73vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 0; } }
.home__banner .banner__slide-title {
  margin: 0 0 2.5rem; }
  @media (max-width: 576px) {
    .home__banner .banner__slide-title {
      margin: 0;
      color: #ffffff;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.1); } }
  .home__banner .banner__slide-title span {
    font-weight: 400; }
.home__banner .banner__slide-subtitle {
  margin: 0 0 2.5rem; }
  @media (max-width: 576px) {
    .home__banner .banner__slide-subtitle {
      margin: 0;
      color: #ffffff;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.1); } }
@media (max-width: 576px) {
  .home__banner .banner__slide-text {
    display: none; } }
.home__banner .splide__arrow {
  background-color: transparent; }
  .home__banner .splide__arrow svg {
    width: 2.15rem;
    height: 2.15em; }

.homepage .home__diets {
  padding: 5rem 0 3rem; }
  @media (max-width: 576px) {
    .homepage .home__diets {
      padding: 1rem 0 3rem; } }
.homepage .diets__title {
  text-align: center;
  margin-bottom: 4rem; }
  @media (max-width: 576px) {
    .homepage .diets__title {
      margin-bottom: 3rem;
      text-align: left; } }
  .homepage .diets__title span {
    color: #37a8be;
    font-weight: 700; }
.homepage .diets__box {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1024px) {
    .homepage .diets__box {
      padding-bottom: 7rem; } }
  @media (max-width: 576px) {
    .homepage .diets__box {
      flex-direction: column-reverse;
      padding-bottom: 2rem; } }
.homepage .diets__box-info {
  width: 50%;
  position: relative; }
  @media (max-width: 576px) {
    .homepage .diets__box-info {
      width: 100%; } }
.homepage .diets__box-title {
  margin: 0; }
.homepage .diets__box-text {
  margin: 2.5rem 0;
  line-height: 1.8; }
@media (max-width: 576px) {
  .homepage .diets__box-buttons {
    display: flex; } }
.homepage .diets__box-button {
  margin-right: 1rem; }
  @media (max-width: 576px) {
    .homepage .diets__box-button {
      white-space: nowrap;
      margin-right: 0.5rem; } }
  @media (max-width: 576px) {
    .homepage .diets__box-button.button--secondary {
      border: none;
      box-shadow: none; } }
.homepage .diets__box-price {
  background-color: #b8dee6;
  position: absolute;
  right: -8rem;
  bottom: -6rem;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  text-align: center; }
  @media (max-width: 576px) {
    .homepage .diets__box-price {
      bottom: auto;
      top: -9rem;
      right: 2.5rem; } }
  .homepage .diets__box-price p {
    margin: 0.5rem 0 0 4rem;
    font-size: 1.8rem;
    font-weight: 700; }
  .homepage .diets__box-price span {
    display: block;
    font-size: 3.15rem;
    font-weight: 700;
    margin-left: -2.5rem; }
.homepage .diets__box-image {
  width: 45%; }
  @media (max-width: 576px) {
    .homepage .diets__box-image {
      width: 100%;
      margin-bottom: 7rem; } }
  .homepage .diets__box-image img {
    display: block;
    width: 100%; }
.homepage .home__diets .splide__arrow {
  background-color: transparent; }
  .homepage .home__diets .splide__arrow.splide__arrow--prev {
    left: -5rem; }
    @media (max-width: 768px) {
      .homepage .home__diets .splide__arrow.splide__arrow--prev {
        left: -2rem; } }
    @media (max-width: 576px) {
      .homepage .home__diets .splide__arrow.splide__arrow--prev {
        left: -1rem;
        top: 12.5rem; } }
  .homepage .home__diets .splide__arrow.splide__arrow--next {
    right: -5rem; }
    @media (max-width: 768px) {
      .homepage .home__diets .splide__arrow.splide__arrow--next {
        right: -2rem; } }
    @media (max-width: 576px) {
      .homepage .home__diets .splide__arrow.splide__arrow--next {
        right: -1rem;
        top: 12.5rem; } }
  .homepage .home__diets .splide__arrow svg {
    width: 2.15rem;
    height: 2.15em; }

.homepage .home__delivery {
  padding: 2rem 0; }
.homepage .delivery__title {
  text-align: center; }
  @media (max-width: 576px) {
    .homepage .delivery__title {
      text-align: left; } }
  .homepage .delivery__title span {
    color: #37a8be;
    font-weight: 700; }
.homepage .delivery__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: 1rem auto; }
  @media (max-width: 1024px) {
    .homepage .delivery__wrapper {
      max-width: 100%;
      margin: 3rem auto; } }
  @media (max-width: 576px) {
    .homepage .delivery__wrapper {
      flex-direction: column;
      margin: 0 auto; } }
.homepage .delivery__map {
  width: 40%; }
  @media (max-width: 576px) {
    .homepage .delivery__map {
      width: 100%; } }
  .homepage .delivery__map svg {
    width: 100%; }
.homepage .delivery__list {
  width: 45%; }
  @media (max-width: 576px) {
    .homepage .delivery__list {
      width: 100%;
      text-align: center; } }
.homepage .delivery__list-title {
  margin-bottom: 2rem; }
.homepage .delivery__list-items {
  padding: 0;
  margin: 0;
  columns: 2; }
  @media (max-width: 576px) {
    .homepage .delivery__list-items {
      columns: 1; } }
.homepage .delivery__list-item {
  list-style-type: none;
  margin-bottom: 1rem;
  padding-right: 1rem; }
  @media (max-width: 576px) {
    .homepage .delivery__list-item {
      padding: 0; } }
.homepage .delivery__button {
  margin-top: 2rem; }
  @media (max-width: 576px) {
    .homepage .delivery__button {
      margin-bottom: 4.5rem; } }

.homepage .home__why {
  padding: 2rem 0; }
.homepage .why__title {
  text-align: center; }
  @media (max-width: 576px) {
    .homepage .why__title {
      text-align: left; } }
  .homepage .why__title span {
    color: #37a8be;
    font-weight: 700; }
.homepage .why__wrapper {
  max-width: 60%;
  margin: 4rem auto; }
  @media (max-width: 1024px) {
    .homepage .why__wrapper {
      max-width: 100%; } }
.homepage .why__text {
  text-align: center;
  margin: 1.5rem auto; }
  @media (max-width: 576px) {
    .homepage .why__text {
      text-align: left; } }
.homepage .why__boxes {
  margin: 4rem auto;
  display: flex;
  align-items: center; }
  @media (max-width: 576px) {
    .homepage .why__boxes {
      flex-direction: column; } }
.homepage .why__box {
  flex: 1;
  display: flex;
  align-items: center; }
  @media (max-width: 576px) {
    .homepage .why__box {
      width: 100%;
      margin: 1rem 0; } }
.homepage .why__box-number {
  background-color: #b8dee6;
  border-radius: 50%;
  width: 5rem;
  min-width: 5rem;
  height: 5rem;
  min-height: 5rem;
  text-align: right;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem; }
  .homepage .why__box-number span {
    transform: translateX(15%);
    font-size: 3.25rem;
    font-weight: 700; }
.homepage .why__box-text {
  margin-left: 1rem; }
.homepage .why__button {
  display: table;
  margin: 0 auto; }

.homepage .home__break {
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  position: relative; }
  @media (max-width: 1024px) {
    .homepage .home__break {
      min-height: 40vh; } }
  @media (max-width: 576px) {
    .homepage .home__break {
      min-height: 75vh;
      padding: 0; } }
.homepage .break__image {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem; }
  .homepage .break__image.desktop {
    display: block; }
    @media (max-width: 576px) {
      .homepage .break__image.desktop {
        display: none; } }
  .homepage .break__image.mobile {
    display: none; }
    @media (max-width: 576px) {
      .homepage .break__image.mobile {
        display: block; } }
.homepage .break__content {
  position: relative;
  z-index: 3;
  text-align: center; }
.homepage .break__title {
  color: #ffffff;
  margin: 0 0 1rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }
.homepage .break__text {
  color: #ffffff;
  margin: 0;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }

.homepage .home__testimonials {
  padding: 3rem 0; }
.homepage .testimonials__title {
  text-align: center; }
  .homepage .testimonials__title span {
    color: #37a8be;
    font-weight: 700; }
.homepage .testimonials__slider {
  margin: 3rem 0;
  padding: 0 5%; }
  @media (max-width: 576px) {
    .homepage .testimonials__slider {
      margin: 0; } }
.homepage .testimonials__box {
  height: 100%;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 3rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  position: relative; }
  @media (max-width: 1024px) {
    .homepage .testimonials__box {
      padding: 3rem 2rem; } }
  .homepage .testimonials__box:before {
    content: "";
    position: absolute;
    top: 45%;
    width: 13rem;
    height: 13rem;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 10rem;
    color: #37a8be;
    opacity: 0.15;
    background-image: url("images/quote.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
.homepage .testimonials__box-image {
  display: block;
  margin: 0 auto 2rem;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  object-fit: cover; }
.homepage .testimonials__box-text {
  margin: 0; }
  @media (max-width: 576px) {
    .homepage .testimonials__box-text {
      font-size: 0.9rem; } }
.homepage .home__testimonials .splide__arrow {
  background-color: transparent; }
  .homepage .home__testimonials .splide__arrow svg {
    width: 2.15rem;
    height: 2.15em; }
.homepage .home__testimonials .splide__slide {
  flex: 1;
  transition: transform 0.25s ease-in-out;
  transform-origin: center; }
  .homepage .home__testimonials .splide__slide.is-active {
    transform: scale(1.1); }
    @media (max-width: 1024px) {
      .homepage .home__testimonials .splide__slide.is-active {
        transform: none; } }
.homepage .home__testimonials .splide__track {
  padding: 3rem 0; }

.homepage .home__bottom {
  display: flex;
  background-color: #F2F2F2; }
  @media (max-width: 576px) {
    .homepage .home__bottom {
      flex-direction: column; } }
.homepage .home__bottom-image {
  width: 50%; }
  @media (max-width: 576px) {
    .homepage .home__bottom-image {
      width: 100%; } }
  .homepage .home__bottom-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 3.25rem;
    border-bottom-left-radius: 3.25rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16); }
    @media (max-width: 576px) {
      .homepage .home__bottom-image img {
        border-top-left-radius: 3.25rem;
        border-top-right-radius: 3.25rem;
        border-bottom-left-radius: 0; } }
.homepage .home__bottom-info {
  width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 7%; }
  @media (max-width: 768px) {
    .homepage .home__bottom-info {
      padding: 1rem 1.5rem; } }
  @media (max-width: 576px) {
    .homepage .home__bottom-info {
      padding: 3rem 2rem;
      width: 100%;
      border-bottom-left-radius: 3.25rem;
      border-bottom-right-radius: 3.25rem; } }
.homepage .home__bottom-title {
  margin: 0 0 1.5rem; }
.homepage .home__bottom-text {
  margin: 0; }

.diets-page {
  background-color: #F2F2F2; }

.diets-page .diets__banner {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/diets-banner-desktop.jpg"); }
  @media (max-width: 1024px) {
    .diets-page .diets__banner {
      min-height: 40vh; } }
  @media (max-width: 576px) {
    .diets-page .diets__banner {
      min-height: 75vh;
      background-image: url("./images/diets-banner-mobile.jpg");
      padding: 0; } }
.diets-page .diets__banner-content {
  margin-left: 7%;
  position: relative;
  max-width: 35%;
  display: inline-block; }
  @media (max-width: 576px) {
    .diets-page .diets__banner-content {
      margin: 0; } }
  .diets-page .diets__banner-content h1 {
    line-height: 1.35;
    position: relative;
    z-index: 3;
    margin: 0; }
    .diets-page .diets__banner-content h1 span {
      font-weight: 700;
      font-size: 8.5rem; }
      @media (max-width: 576px) {
        .diets-page .diets__banner-content h1 span {
          font-size: 4rem; } }
  .diets-page .diets__banner-content .stripe {
    position: absolute;
    content: "";
    top: 3rem;
    left: -5%;
    height: 2rem;
    width: 110%;
    background: #ffffff;
    z-index: 2; }
    @media (max-width: 576px) {
      .diets-page .diets__banner-content .stripe {
        height: 1.25rem;
        top: auto;
        bottom: 0; } }

.diets-page .diets__boxes {
  padding: 3.5rem 0; }
  @media (max-width: 1024px) {
    .diets-page .diets__boxes {
      padding: 0; } }
.diets-page .diets__box {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .diets-page .diets__box:nth-child(2n) {
    flex-direction: row-reverse; }
    @media (max-width: 576px) {
      .diets-page .diets__box:nth-child(2n) {
        flex-direction: column-reverse; } }
    .diets-page .diets__box:nth-child(2n) .diets__box-price {
      left: -12rem;
      right: auto;
      bottom: -8rem; }
      @media (max-width: 576px) {
        .diets-page .diets__box:nth-child(2n) .diets__box-price {
          bottom: auto;
          left: auto;
          top: -9rem;
          right: 2.5rem; } }
  @media (max-width: 1024px) {
    .diets-page .diets__box {
      margin: 12rem 0; } }
  @media (max-width: 576px) {
    .diets-page .diets__box {
      flex-direction: column-reverse;
      margin: 3.5rem 0; } }
.diets-page .diets__box-info {
  width: 50%;
  position: relative; }
  @media (max-width: 576px) {
    .diets-page .diets__box-info {
      width: 100%; } }
.diets-page .diets__box-title {
  margin: 0; }
.diets-page .diets__box-text {
  margin: 2.5rem 0;
  line-height: 1.8; }
@media (max-width: 576px) {
  .diets-page .diets__box-buttons {
    display: flex; } }
.diets-page .diets__box-button {
  margin-right: 1rem; }
  @media (max-width: 576px) {
    .diets-page .diets__box-button {
      white-space: nowrap;
      margin-right: 0.5rem; } }
  @media (max-width: 576px) {
    .diets-page .diets__box-button.button--secondary {
      border: none;
      box-shadow: none; } }
.diets-page .diets__box-price {
  background-color: #b8dee6;
  position: absolute;
  right: -8rem;
  bottom: -6rem;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  text-align: center; }
  @media (max-width: 576px) {
    .diets-page .diets__box-price {
      bottom: auto;
      top: -9rem;
      right: 2.5rem; } }
  .diets-page .diets__box-price p {
    margin: 0.5rem 0 0 4rem;
    font-size: 1.8rem;
    font-weight: 700; }
  .diets-page .diets__box-price span {
    display: block;
    font-size: 3.15rem;
    font-weight: 700;
    margin-left: -2.5rem; }
.diets-page .diets__box-image {
  width: 45%; }
  @media (max-width: 576px) {
    .diets-page .diets__box-image {
      width: 100%;
      margin-bottom: 7rem; } }
  .diets-page .diets__box-image img {
    display: block;
    width: 100%; }

.diet-page {
  background-color: #F2F2F2; }

.diet-page .diet__banner {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  overflow: hidden;
  position: relative;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center; }
  @media (max-width: 1024px) {
    .diet-page .diet__banner {
      height: 50vh; } }
  @media (max-width: 576px) {
    .diet-page .diet__banner {
      height: 80vh;
      padding: 0;
      align-items: flex-end; } }
.diet-page .banner__image {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .diet-page .banner__image.desktop {
    display: block; }
    @media (max-width: 576px) {
      .diet-page .banner__image.desktop {
        display: none; } }
  .diet-page .banner__image.mobile {
    display: none; }
    @media (max-width: 576px) {
      .diet-page .banner__image.mobile {
        display: block; } }
.diet-page .banner__content {
  position: relative;
  z-index: 3;
  max-width: 40%; }
.diet-page .banner__title {
  margin: 0 0 2.5rem; }
.diet-page .banner__text {
  margin: 0 0 2.5rem; }
  @media (max-width: 576px) {
    .diet-page .banner__text {
      display: none; } }
@media (max-width: 576px) {
  .diet-page .banner__button {
    display: none; } }
.diet-page .banner__price {
  background-color: #ffffff;
  position: absolute;
  right: -8rem;
  bottom: -6rem;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  text-align: center; }
  @media (max-width: 576px) {
    .diet-page .banner__price {
      display: none; } }
  .diet-page .banner__price p {
    margin: 0.5rem 0 0 4rem;
    font-size: 1.8rem;
    font-weight: 700; }
  .diet-page .banner__price span {
    display: block;
    font-size: 3.15rem;
    font-weight: 700;
    margin-left: -2.5rem; }

.diet-page .diet__boxes {
  max-width: 100vw;
  overflow: hidden; }
.diet-page .diet__box {
  margin: 10rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 576px) {
    .diet-page .diet__box {
      flex-direction: column-reverse;
      margin: 6rem 0; } }
  .diet-page .diet__box:nth-child(2n) {
    flex-direction: row-reverse; }
    @media (max-width: 576px) {
      .diet-page .diet__box:nth-child(2n) {
        flex-direction: column-reverse; } }
    .diet-page .diet__box:nth-child(2n) img {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 4.5rem;
      border-top-right-radius: 4.5rem;
      transform-origin: right; }
.diet-page .diet__box-info {
  width: 45%; }
  @media (max-width: 576px) {
    .diet-page .diet__box-info {
      width: 100%;
      margin-top: 5rem; } }
.diet-page .diet__box-title {
  margin: 0 0 2rem; }
.diet-page .diet__box-text span {
  color: #37a8be;
  font-weight: 700; }
.diet-page .diet__box-image {
  width: 45%; }
  @media (max-width: 576px) {
    .diet-page .diet__box-image {
      width: 100%; } }
  .diet-page .diet__box-image img {
    display: block;
    width: 100%;
    border-bottom-left-radius: 4.5rem;
    border-top-left-radius: 4.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    transform: scale(1.2);
    transform-origin: left; }

.diet-page .calories__row {
  margin-bottom: 6rem; }
  @media (max-width: 576px) {
    .diet-page .calories__row {
      margin-bottom: 3rem; } }
.diet-page .calories__title {
  text-align: center;
  margin-bottom: 4.5rem; }
.diet-page .calories__boxes {
  display: flex;
  justify-content: center; }
  @media (max-width: 576px) {
    .diet-page .calories__boxes {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 auto; } }
.diet-page .calories__box {
  margin: 0 5rem;
  text-align: center; }
  @media (max-width: 1024px) {
    .diet-page .calories__box {
      margin: 0 3rem; } }
  @media (max-width: 768px) {
    .diet-page .calories__box {
      margin: 0 1.25rem; } }
  @media (max-width: 576px) {
    .diet-page .calories__box {
      width: 30%;
      margin: 0 1.5% 2rem; } }
.diet-page .calories__box-title {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 3rem; }
  @media (max-width: 576px) {
    .diet-page .calories__box-title {
      font-size: 2.5rem;
      margin: 0 0 2rem; } }
.diet-page .calories__box-text {
  text-transform: uppercase; }
  @media (max-width: 576px) {
    .diet-page .calories__box-text {
      font-size: 0.9rem; } }

.diet-page .menu__wrapper {
  margin-bottom: 6rem; }
  @media (max-width: 576px) {
    .diet-page .menu__wrapper {
      margin-bottom: 3rem; } }
.diet-page .menu__title {
  text-align: center;
  margin-bottom: 4.5rem; }
.diet-page .menu__days {
  display: flex;
  justify-content: center; }
  @media (max-width: 576px) {
    .diet-page .menu__days {
      flex-wrap: wrap;
      justify-content: flex-start; } }
.diet-page .menu__day {
  background-color: #F2F2F2;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.16);
  margin: 0 1rem;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.25s ease-in-out; }
  @media (max-width: 576px) {
    .diet-page .menu__day {
      width: 25%;
      padding: 12.5% 0;
      margin: 0 2.5% 2rem; } }
  .diet-page .menu__day.active {
    color: #37a8be; }
.diet-page .menu__list {
  margin: 7rem 0;
  display: none;
  flex-wrap: wrap;
  animation: fadeIn 0.25s ease-in-out forwards; }
  @media (max-width: 576px) {
    .diet-page .menu__list {
      margin: 3rem 0; } }
  .diet-page .menu__list.active {
    display: flex; }
.diet-page .menu__list-box {
  margin: 0 3% 3rem;
  width: 27%; }
  @media (max-width: 576px) {
    .diet-page .menu__list-box {
      width: 100%;
      margin: 0 auto 2rem; } }
.diet-page .menu__list-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 2.5rem; }
  @media (max-width: 576px) {
    .diet-page .menu__list-title {
      font-size: 2.5rem;
      margin: 0 0 2rem; } }

.diet-page .diet__slides {
  padding: 0 0 4.5rem; }
  @media (max-width: 576px) {
    .diet-page .diet__slides {
      padding: 0.5rem 0 4.5rem; } }
.diet-page .diet__title {
  text-align: center;
  margin-bottom: 4rem; }
  @media (max-width: 576px) {
    .diet-page .diet__title {
      margin-bottom: 3rem;
      text-align: left; } }
.diet-page .diet__slide {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1024px) {
    .diet-page .diet__slide {
      padding-bottom: 7rem; } }
  @media (max-width: 576px) {
    .diet-page .diet__slide {
      flex-direction: column-reverse;
      padding-bottom: 2rem; } }
.diet-page .diet__slide-info {
  width: 50%;
  position: relative; }
  @media (max-width: 576px) {
    .diet-page .diet__slide-info {
      width: 100%; } }
.diet-page .diet__slide-title {
  margin: 0; }
.diet-page .diet__slide-text {
  margin: 2.5rem 0;
  line-height: 1.8; }
@media (max-width: 576px) {
  .diet-page .diet__slide-buttons {
    display: flex; } }
.diet-page .diet__slide-button {
  margin-right: 1rem; }
  @media (max-width: 576px) {
    .diet-page .diet__slide-button {
      white-space: nowrap;
      margin-right: 0.5rem; } }
  @media (max-width: 576px) {
    .diet-page .diet__slide-button.button--secondary {
      border: none;
      box-shadow: none; } }
.diet-page .diet__slide-price {
  background-color: #b8dee6;
  position: absolute;
  right: -8rem;
  bottom: -6rem;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  text-align: center; }
  @media (max-width: 576px) {
    .diet-page .diet__slide-price {
      bottom: auto;
      top: -9rem;
      right: 2.5rem; } }
  .diet-page .diet__slide-price p {
    margin: 0.5rem 0 0 4rem;
    font-size: 1.8rem;
    font-weight: 700; }
  .diet-page .diet__slide-price span {
    display: block;
    font-size: 3.15rem;
    font-weight: 700;
    margin-left: -2.5rem; }
.diet-page .diet__slide-image {
  width: 45%; }
  @media (max-width: 576px) {
    .diet-page .diet__slide-image {
      width: 100%;
      margin-bottom: 8rem; } }
  .diet-page .diet__slide-image img {
    display: block;
    width: 100%; }
.diet-page .diet__slides .splide__arrow {
  background-color: transparent; }
  .diet-page .diet__slides .splide__arrow.splide__arrow--prev {
    left: -5rem; }
    @media (max-width: 768px) {
      .diet-page .diet__slides .splide__arrow.splide__arrow--prev {
        left: -2rem; } }
    @media (max-width: 576px) {
      .diet-page .diet__slides .splide__arrow.splide__arrow--prev {
        left: -1rem;
        top: 12.5rem; } }
  .diet-page .diet__slides .splide__arrow.splide__arrow--next {
    right: -5rem; }
    @media (max-width: 768px) {
      .diet-page .diet__slides .splide__arrow.splide__arrow--next {
        right: -2rem; } }
    @media (max-width: 576px) {
      .diet-page .diet__slides .splide__arrow.splide__arrow--next {
        right: -1rem;
        top: 12.5rem; } }
  .diet-page .diet__slides .splide__arrow svg {
    width: 2.15rem;
    height: 2.15em; }

.contact-page {
  background-color: #F2F2F2; }

.contact-page .contact__banner {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/contact-banner-desktop.png"); }
  @media (max-width: 1024px) {
    .contact-page .contact__banner {
      min-height: 40vh; } }
  @media (max-width: 576px) {
    .contact-page .contact__banner {
      min-height: 70vh;
      background-image: url("./images/contact-banner-mobile.png"); } }
  .contact-page .contact__banner h1 {
    color: #ffffff; }

.about-page {
  background-color: #F2F2F2; }

.about-page .about__banner {
  background-color: #F2F2F2;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/about-banner-desktop.png"); }
  @media (max-width: 1024px) {
    .about-page .about__banner {
      min-height: 40vh; } }
  @media (max-width: 576px) {
    .about-page .about__banner {
      min-height: 75vh;
      background-image: url("./images/about-banner-mobile.png"); } }
.about-page .about__banner-content {
  position: relative; }
  .about-page .about__banner-content h1 {
    color: #ffffff;
    position: relative;
    z-index: 3;
    margin: 0; }
    .about-page .about__banner-content h1 span {
      font-weight: 400; }
  .about-page .about__banner-content .stripe {
    position: absolute;
    content: "";
    bottom: 0;
    left: -5%;
    height: 2rem;
    width: 110%;
    background: #418D9C;
    z-index: 2; }
    @media (max-width: 576px) {
      .about-page .about__banner-content .stripe {
        height: 1.25rem; } }

.about-page .about__main {
  background-color: #F2F2F2;
  padding: 3rem 0 7rem;
  max-width: 100vw;
  overflow: hidden; }
  @media (max-width: 576px) {
    .about-page .about__main {
      padding: 3rem 0; } }
.about-page .about__main-title {
  text-align: center; }
.about-page .about__top {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 576px) {
    .about-page .about__top {
      flex-direction: column-reverse;
      margin-top: 6rem; } }
.about-page .about__top-info {
  width: 45%; }
  @media (max-width: 576px) {
    .about-page .about__top-info {
      width: 100%;
      margin-top: 5rem; } }
.about-page .about__top-title {
  margin: 0 0 2rem; }
.about-page .about__top-text span {
  color: #37a8be;
  font-weight: 700; }
.about-page .about__top-image {
  width: 50%; }
  @media (max-width: 576px) {
    .about-page .about__top-image {
      width: 100%; } }
  .about-page .about__top-image img {
    display: block;
    width: 100%;
    transform: scale(1.2);
    transform-origin: left; }
.about-page .about__boxes-title {
  margin: 10rem 0 5rem;
  text-align: center; }
  @media (max-width: 576px) {
    .about-page .about__boxes-title {
      margin: 6rem 0 5rem; } }
.about-page .about__box {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 576px) {
    .about-page .about__box {
      flex-direction: column;
      margin-bottom: 2rem; } }
  .about-page .about__box:nth-child(1) img {
    border-top-right-radius: 2rem; }
  .about-page .about__box:nth-child(2n) {
    flex-direction: row-reverse; }
    @media (max-width: 576px) {
      .about-page .about__box:nth-child(2n) {
        flex-direction: column; } }
    .about-page .about__box:nth-child(2n) .about__box-info {
      padding: 0 5% 0 0; }
      @media (max-width: 576px) {
        .about-page .about__box:nth-child(2n) .about__box-info {
          padding: 0; } }
    .about-page .about__box:nth-child(2n) img {
      border-top-left-radius: 0;
      border-top-right-radius: 2rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 2rem;
      transform-origin: right; }
.about-page .about__box-info {
  width: 50%;
  padding: 0 0 0 5%; }
  @media (max-width: 576px) {
    .about-page .about__box-info {
      width: 100%;
      margin-top: 3rem;
      padding: 0; } }
.about-page .about__box-title {
  margin: 0 0 2rem; }
.about-page .about__box-subtitle {
  margin: 0 0 2rem; }
.about-page .about__box-image {
  width: 50%; }
  @media (max-width: 576px) {
    .about-page .about__box-image {
      width: 100%;
      margin: 1rem 0; } }
  .about-page .about__box-image img {
    display: block;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0; }
    @media (max-width: 576px) {
      .about-page .about__box-image img {
        transform: scale(1.1);
        transform-origin: left; } }

.pricing-page .pricing__banner {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  overflow: hidden;
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center; }
  @media (max-width: 1024px) {
    .pricing-page .pricing__banner {
      height: 40vh; } }
  @media (max-width: 576px) {
    .pricing-page .pricing__banner {
      height: 75vh;
      padding: 0; } }
.pricing-page .banner__image {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .pricing-page .banner__image.desktop {
    display: block; }
    @media (max-width: 576px) {
      .pricing-page .banner__image.desktop {
        display: none; } }
  .pricing-page .banner__image.mobile {
    display: none; }
    @media (max-width: 576px) {
      .pricing-page .banner__image.mobile {
        display: block; } }
.pricing-page .banner__content {
  position: relative;
  z-index: 3;
  max-width: 40%; }
.pricing-page .banner__title {
  margin: 0 0 2.5rem; }
.pricing-page .banner__text {
  margin: 0 0 2.5rem; }

.pricing-page .main__diets-title {
  text-align: center;
  margin: 6rem 0 9rem; }
  @media (max-width: 576px) {
    .pricing-page .main__diets-title {
      margin: 5rem 0 4rem; } }
.pricing-page .main__diets {
  display: flex;
  justify-content: center; }
  @media (max-width: 1024px) {
    .pricing-page .main__diets {
      flex-wrap: wrap; } }
.pricing-page .main__diet {
  max-width: 20rem;
  position: relative;
  margin: 0 2rem;
  transition: transform 0.25s ease-in-out;
  cursor: pointer; }
  @media (max-width: 1024px) {
    .pricing-page .main__diet {
      max-width: 20%;
      margin: 0 2.5%; } }
  @media (max-width: 576px) {
    .pricing-page .main__diet {
      max-width: 100%;
      margin: 0 0 3rem; } }
  .pricing-page .main__diet.active {
    transform: translateY(-5%); }
    @media (max-width: 576px) {
      .pricing-page .main__diet.active {
        transform: none; }
        .pricing-page .main__diet.active .main__diet-image {
          border-radius: 50%;
          overflow: hidden; }
          .pricing-page .main__diet.active .main__diet-image:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #BEE5D1;
            opacity: 0.5; } }
    .pricing-page .main__diet.active:before {
      opacity: 1; }
  .pricing-page .main__diet:before {
    content: "";
    position: absolute;
    top: -4rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #37a8be;
    opacity: 0;
    transition: opacity 0.25s ease-in-out; }
    @media (max-width: 576px) {
      .pricing-page .main__diet:before {
        display: none; } }
.pricing-page .main__diet-image {
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  transition: border-radius 0.25s ease-in-out; }
  .pricing-page .main__diet-image img {
    display: block;
    width: 100%;
    height: auto; }
.pricing-page .main__diet-title {
  margin: 0;
  padding: 1.25rem 0.35rem; }

.pricing-page .main__meals-title {
  text-align: center;
  margin: 4rem 0 5rem; }
.pricing-page .main__meals-list {
  display: flex;
  justify-content: center; }
  @media (max-width: 576px) {
    .pricing-page .main__meals-list {
      flex-wrap: wrap; } }
.pricing-page .main__meal {
  background-color: #F2F2F2;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.16);
  margin: 0 1rem;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.25s ease-in-out; }
  @media (max-width: 576px) {
    .pricing-page .main__meal {
      width: 5rem;
      height: 5rem; } }
  .pricing-page .main__meal.active {
    color: #37a8be; }

.pricing-page .main__pricing {
  margin: 6rem 0 7rem; }
.pricing-page .main__pricing-title {
  text-align: center;
  margin: 0 0 5rem; }
.pricing-page .main__pricing-boxes {
  display: flex;
  justify-content: center; }
  @media (max-width: 768px) {
    .pricing-page .main__pricing-boxes {
      flex-wrap: wrap; } }
.pricing-page .main__pricing-box {
  text-align: center;
  border-right: 1px solid #9A9A9A;
  padding: 0.5rem 2.5rem; }
  @media (max-width: 768px) {
    .pricing-page .main__pricing-box {
      width: 50%;
      margin: 0 auto 3rem; }
      .pricing-page .main__pricing-box:nth-child(2n) {
        border-right: 0; } }
  .pricing-page .main__pricing-box:last-of-type {
    border-right: 0; }
.pricing-page .main__pricing-box-title {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 2.5rem; }
  @media (max-width: 576px) {
    .pricing-page .main__pricing-box-title {
      font-size: 2.5rem;
      margin: 0 0 2rem; } }
.pricing-page .main__pricing-box-text {
  text-transform: uppercase;
  margin: 0; }
  @media (max-width: 576px) {
    .pricing-page .main__pricing-box-text {
      font-size: 0.9rem; } }
.pricing-page .main__pricing-extra {
  text-align: center;
  margin: 5rem auto 3rem; }
  @media (max-width: 576px) {
    .pricing-page .main__pricing-extra {
      margin: 0 auto; } }

.pricing-page .pricing__slides {
  padding: 0 0 4.5rem; }
  @media (max-width: 576px) {
    .pricing-page .pricing__slides {
      padding: 0.5rem 0 4.5rem; } }
.pricing-page .pricing__title {
  text-align: center;
  margin-bottom: 4rem; }
  @media (max-width: 576px) {
    .pricing-page .pricing__title {
      margin-bottom: 3rem; } }
.pricing-page .pricing__slide {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1024px) {
    .pricing-page .pricing__slide {
      padding-bottom: 7rem; } }
  @media (max-width: 576px) {
    .pricing-page .pricing__slide {
      flex-direction: column-reverse;
      padding-bottom: 2rem; } }
.pricing-page .pricing__slide-info {
  width: 50%;
  position: relative; }
  @media (max-width: 576px) {
    .pricing-page .pricing__slide-info {
      width: 100%; } }
.pricing-page .pricing__slide-title {
  margin: 0; }
.pricing-page .pricing__slide-text {
  margin: 2.5rem 0;
  line-height: 1.8; }
@media (max-width: 576px) {
  .pricing-page .pricing__slide-buttons {
    display: flex; } }
.pricing-page .pricing__slide-button {
  margin-right: 1rem; }
  @media (max-width: 576px) {
    .pricing-page .pricing__slide-button {
      white-space: nowrap;
      margin-right: 0.5rem; } }
  @media (max-width: 576px) {
    .pricing-page .pricing__slide-button.button--secondary {
      border: none;
      box-shadow: none; } }
.pricing-page .pricing__slide-price {
  background-color: #b8dee6;
  position: absolute;
  right: -8rem;
  bottom: -6rem;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  text-align: center; }
  @media (max-width: 576px) {
    .pricing-page .pricing__slide-price {
      bottom: auto;
      top: -9rem;
      right: 2.5rem; } }
  .pricing-page .pricing__slide-price p {
    margin: 0.5rem 0 0 4rem;
    font-size: 1.8rem;
    font-weight: 700; }
  .pricing-page .pricing__slide-price span {
    display: block;
    font-size: 3.15rem;
    font-weight: 700;
    margin-left: -2.5rem; }
.pricing-page .pricing__slide-image {
  width: 45%; }
  @media (max-width: 576px) {
    .pricing-page .pricing__slide-image {
      width: 100%;
      margin-bottom: 8rem; } }
  .pricing-page .pricing__slide-image img {
    display: block;
    width: 100%; }
.pricing-page .pricing__slides .splide__arrow {
  background-color: transparent; }
  .pricing-page .pricing__slides .splide__arrow.splide__arrow--prev {
    left: -5rem; }
    @media (max-width: 768px) {
      .pricing-page .pricing__slides .splide__arrow.splide__arrow--prev {
        left: -2rem; } }
    @media (max-width: 576px) {
      .pricing-page .pricing__slides .splide__arrow.splide__arrow--prev {
        left: -1rem;
        top: 12.5rem; } }
  .pricing-page .pricing__slides .splide__arrow.splide__arrow--next {
    right: -5rem; }
    @media (max-width: 768px) {
      .pricing-page .pricing__slides .splide__arrow.splide__arrow--next {
        right: -2rem; } }
    @media (max-width: 576px) {
      .pricing-page .pricing__slides .splide__arrow.splide__arrow--next {
        right: -1rem;
        top: 12.5rem; } }
  .pricing-page .pricing__slides .splide__arrow svg {
    width: 2.15rem;
    height: 2.15em; }

.delivery-page .delivery__banner {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  overflow: hidden;
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center; }
  @media (max-width: 1024px) {
    .delivery-page .delivery__banner {
      height: 40vh; } }
  @media (max-width: 576px) {
    .delivery-page .delivery__banner {
      height: 75vh;
      padding: 0; } }
.delivery-page .banner__image {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .delivery-page .banner__image.desktop {
    display: block; }
    @media (max-width: 576px) {
      .delivery-page .banner__image.desktop {
        display: none; } }
  .delivery-page .banner__image.mobile {
    display: none; }
    @media (max-width: 576px) {
      .delivery-page .banner__image.mobile {
        display: block; } }
.delivery-page .banner__content {
  position: relative;
  z-index: 3;
  max-width: 40%; }
.delivery-page .banner__title {
  margin: 0 0 2.5rem; }
.delivery-page .banner__text {
  margin: 0 0 2.5rem; }
  @media (max-width: 576px) {
    .delivery-page .banner__text {
      display: none; } }

.delivery-page .map__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: 1rem auto; }
  @media (max-width: 1024px) {
    .delivery-page .map__wrapper {
      max-width: 100%;
      margin: 3rem auto; } }
  @media (max-width: 576px) {
    .delivery-page .map__wrapper {
      flex-direction: column;
      margin: 0 auto; } }
.delivery-page .map__map {
  width: 40%; }
  @media (max-width: 576px) {
    .delivery-page .map__map {
      width: 100%; } }
  .delivery-page .map__map svg {
    width: 100%; }
.delivery-page .map__list {
  width: 45%; }
  @media (max-width: 576px) {
    .delivery-page .map__list {
      width: 100%;
      text-align: center; } }
.delivery-page .map__list-title {
  font-size: 2rem;
  margin: 0 0 2rem; }
.delivery-page .map__list-items {
  padding: 0;
  margin: 0;
  columns: 2; }
  @media (max-width: 576px) {
    .delivery-page .map__list-items {
      columns: 1; } }
.delivery-page .map__list-item {
  list-style-type: none;
  margin-bottom: 1rem;
  padding-right: 1rem; }
  @media (max-width: 576px) {
    .delivery-page .map__list-item {
      padding: 0; } }

.delivery-page .delivery__form {
  padding: 0 0 4.5rem; }
  @media (max-width: 576px) {
    .delivery-page .delivery__form {
      padding: 3.5rem 0; } }
.delivery-page .delivery__form-title {
  text-align: center;
  margin-bottom: 3.5rem; }
  @media (max-width: 576px) {
    .delivery-page .delivery__form-title {
      margin-bottom: 2rem; } }
.delivery-page .delivery__form-form {
  max-width: 50%;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .delivery-page .delivery__form-form {
      max-width: 70%; } }
  @media (max-width: 576px) {
    .delivery-page .delivery__form-form {
      max-width: 80%; } }
.delivery-page .delivery__form-button {
  display: table;
  margin: 2rem auto; }
  @media (max-width: 576px) {
    .delivery-page .delivery__form-button {
      margin: 3.5rem auto 2rem; } }
.delivery-page .delivery__form-inputs {
  display: flex; }
  @media (max-width: 576px) {
    .delivery-page .delivery__form-inputs {
      flex-direction: column; } }
  .delivery-page .delivery__form-inputs input[type="text"] {
    display: block;
    margin: 0 1rem;
    font-size: 1.15rem;
    flex: 1;
    border: none;
    outline: none;
    color: #333333;
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9A9A9A;
    background-color: transparent;
    transition: border-color 0.25s ease-in-out; }
    .delivery-page .delivery__form-inputs input[type="text"]::placeholder {
      color: #333333; }
    .delivery-page .delivery__form-inputs input[type="text"]:active, .delivery-page .delivery__form-inputs input[type="text"]:focus {
      border-color: #37a8be; }
    @media (max-width: 576px) {
      .delivery-page .delivery__form-inputs input[type="text"] {
        margin: 1rem 0;
        text-align: center; } }

.delivery-page .delivery__break {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  position: relative; }
  @media (max-width: 1024px) {
    .delivery-page .delivery__break {
      min-height: 40vh; } }
  @media (max-width: 576px) {
    .delivery-page .delivery__break {
      min-height: 75vh;
      padding: 0; } }
.delivery-page .break__image {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem; }
  .delivery-page .break__image.desktop {
    display: block; }
    @media (max-width: 576px) {
      .delivery-page .break__image.desktop {
        display: none; } }
  .delivery-page .break__image.mobile {
    display: none; }
    @media (max-width: 576px) {
      .delivery-page .break__image.mobile {
        display: block; } }
.delivery-page .break__content {
  position: relative;
  z-index: 3;
  text-align: center; }
.delivery-page .break__title {
  color: #ffffff;
  margin: 0 0 1rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }

.document-page {
  background-color: #F2F2F2; }

.document__main {
  padding: 7rem 0; }

.document__title {
  margin: 0 0 2.5rem;
  text-align: center; }

.document__subtitle {
  margin: 0 0 5rem;
  text-align: center;
  text-transform: uppercase; }

.document__text {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.75; }
  .document__text * {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.75; }
  .document__text b, .document__text strong {
    font-weight: 700; }
  .document__text a {
    color: #37a8be;
    text-decoration: none; }

html {
  font-size: 14px;
  font-family: "Poppins", sans-serif; }
  @media (max-width: 1440px) {
    html {
      font-size: 12px; } }

body {
  padding-top: 5rem; }

* {
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
