.diets-page {

  .diets__banner {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/diets-banner-desktop.jpg');
    @media(max-width: $lg) {
      min-height: 40vh;
    }
    @media(max-width: $sm) {
      min-height: 75vh;
      background-image: url('./images/diets-banner-mobile.jpg');
      padding: 0;
    }
  }

  .diets__banner-content {
    margin-left: 7%;
    position: relative;
    max-width: 35%;
    display: inline-block;
    @media(max-width: $sm) {
      margin: 0;
    }
    h1 {
      line-height: 1.35;
      position: relative;
      z-index: 3;
      margin: 0;
      span {
        font-weight: 700;
        font-size: 8.5rem;
        @media(max-width: $sm) {
          font-size: 4rem;
        }
      }
    }
    .stripe {
      position: absolute;
      content: "";
      top: 3rem;
      left: -5%;
      height: 2rem;
      width: 110%;
      background: $white;
      z-index: 2;
      @media(max-width: $sm) {
        height: 1.25rem;
        top: auto;
        bottom: 0;
      }
    }
  }

}
