.diets-page {

  .diets__boxes {
    padding: 3.5rem 0;
    @media (max-width: $lg) {
      padding: 0;
    }
  }

  .diets__box {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:nth-child(2n) {
      flex-direction: row-reverse;
      @media (max-width: $sm) {
        flex-direction: column-reverse;
      }
      .diets__box-price {
        left: -12rem;
        right: auto;
        bottom: -8rem;
        @media (max-width: $sm) {
          bottom: auto;
          left: auto;
          top: -9rem;
          right: 2.5rem;
        }
      }
    }
    @media (max-width: $lg) {
      margin: 12rem 0;
    }
    @media (max-width: $sm) {
      flex-direction: column-reverse;
      margin: 3.5rem 0;
    }
  }

  .diets__box-info {
    width: 50%;
    position: relative;
    @media (max-width: $sm) {
      width: 100%;
    }
  }

  .diets__box-title {
    margin: 0;
  }

  .diets__box-text {
    margin: 2.5rem 0;
    line-height: 1.8;
  }

  .diets__box-buttons {
    @media (max-width: $sm) {
      display: flex;
    }
  }

  .diets__box-button {
    margin-right: 1rem;
    @media (max-width: $sm) {
      white-space: nowrap;
      margin-right: 0.5rem;
    }
    &.button--secondary {
      @media (max-width: $sm) {
        border: none;
        box-shadow: none;
      }
    }
  }

  .diets__box-price {
    background-color: $blue-light;
    position: absolute;
    right: -8rem;
    bottom: -6rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    text-align: center;
    @media (max-width: $sm) {
      bottom: auto;
      top: -9rem;
      right: 2.5rem;
    }
    p {
      margin: 0.5rem 0 0 4rem;
      font-size: 1.8rem;
      font-weight: 700;
    }
    span {
      display: block;
      font-size: 3.15rem;
      font-weight: 700;
      margin-left: -2.5rem;
    }
  }

  .diets__box-image {
    width: 45%;
    @media (max-width: $sm) {
      width: 100%;
      margin-bottom: 7rem;
    }
    img {
      display: block;
      width: 100%;
    }
  }

}
