.about-page {

  .about__banner {
    background-color: #F2F2F2;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/about-banner-desktop.png');
    @media(max-width: $lg) {
      min-height: 40vh;
    }
    @media(max-width: $sm) {
      min-height: 75vh;
      background-image: url('./images/about-banner-mobile.png');
    }
  }

  .about__banner-content {
    position: relative;
    h1 {
      color: $white;
      position: relative;
      z-index: 3;
      margin: 0;
      span {
        font-weight: 400;
      }
    }
    .stripe {
      position: absolute;
      content: "";
      bottom: 0;
      left: -5%;
      height: 2rem;
      width: 110%;
      background: #418D9C;
      z-index: 2;
      @media(max-width: $sm) {
        height: 1.25rem;
      }
    }
  }


}
