.about-page {

  .about__main {
    background-color: #F2F2F2;
    padding: 3rem 0 7rem;
    max-width: 100vw;
    overflow: hidden;
    @media(max-width: $sm) {
      padding: 3rem 0;
    }
  }

  .about__main-title {
    text-align: center;
  }

  .about__top {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: $sm) {
      flex-direction: column-reverse;
      margin-top: 6rem;
    }
  }

  .about__top-info {
    width: 45%;
    @media(max-width: $sm) {
      width: 100%;
      margin-top: 5rem;
    }
  }

  .about__top-title {
    margin: 0 0 2rem;
  }

  .about__top-text {
    span {
      color: $blue;
      font-weight: 700;
    }
  }

  .about__top-image {
    width: 50%;
    @media(max-width: $sm) {
      width: 100%;
    }
    img {
      display: block;
      width: 100%;
      transform: scale(1.2);
      transform-origin: left;
    }
  }

  .about__boxes-title {
    margin: 10rem 0 5rem;
    text-align: center;
    @media(max-width: $sm) {
      margin: 6rem 0 5rem;
    }
  }

  .about__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: $sm) {
      flex-direction: column;
      margin-bottom: 2rem;
    }
    &:nth-child(1) {
      img {
        border-top-right-radius: 2rem;
      }
    }
    &:nth-child(2n) {
      flex-direction: row-reverse;
      @media(max-width: $sm) {
        flex-direction: column;
      }
      .about__box-info {
        padding: 0 5% 0 0;
        @media(max-width: $sm) {
          padding: 0;
        }
      }
      img {
        border-top-left-radius: 0;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 2rem;
        transform-origin: right;
      }
    }
  }

  .about__box-info {
    width: 50%;
    padding: 0 0 0 5%;
    @media(max-width: $sm) {
      width: 100%;
      margin-top: 3rem;
      padding: 0;
    }
  }

  .about__box-title {
    margin: 0 0 2rem;
  }

  .about__box-subtitle {
    margin: 0 0 2rem;
  }

  .about__box-image {
    width: 50%;
    @media(max-width: $sm) {
      width: 100%;
      margin: 1rem 0;
    }
    img {
      display: block;
      width: 100%;
      border-top-left-radius: 2rem;
      border-top-right-radius: 0;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 0;
      @media(max-width: $sm) {
        transform: scale(1.1);
        transform-origin: left;
      }
    }
  }


}
