.nav__mobile {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 0;
  background-color: $white;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.16);
  @media(max-width: $md) {
    display: block;
  }

  &.active {
    .nav__logo {
      img {
        transform: scale(2);
      }
    }
    .nav__item {
      display: none;
    }
    .nav__burger {
      .nav__open {
        display: none;
      }
      .nav__close {
        display: block;
      }
    }
    .nav__menu {
      display: block;
    }
  }

  .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo {
    position: relative;
    z-index: 1000;
    img {
      display: block;
      width: 4rem;
      transform-origin: top left;
      transition: transform 0.25s ease-in-out;
    }
  }

  .nav__right {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin: 0 1.5rem;
    font-size: 1rem;
  }

  .nav__burger {
    margin-left: 1rem;
    img {
      width: 2.2rem;
      height: 2.2rem;
      object-fit: contain;
    }
    .nav__open {
      display: block;
    }
    .nav__close {
      display: none;
      transform-origin: center;
      transform: scale(0.9);
    }
  }

  .nav__menu {
    display: none;
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 5rem - calc(100vh - 100%));
    background-color: $white;
    z-index: 999;
    animation: fadeIn 0.25s ease-in-out forwards;
  }

  .nav__links {
    margin-top: 10rem;
  }

  .nav__link {
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 2.5rem;
    color: $black;
    font-weight: 600;
    font-family: $font-secondary;
  }

  .nav__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7rem;
  }

  .nav__socials {
    display: flex;
  }

  .nav__social {
    display: block;
    margin-left: 3rem;
    transition: all 0.25s ease-in-out;
    filter: brightness(0);
    transform-origin: center;
    &:hover {
      transform: scale(1.15);
      filter: none;
    }
    &:first-of-type {
      margin-left: 0;
    }
    img {
      display: block;
      height: 2.25rem;
      width: auto;
    }
  }

}
