.nav__desktop {
  display: block;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  background-color: $white;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.16);
  @media(max-width: $md) {
    display: none;
  }

  .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo {
    &:hover {
      img {
        transform: rotate(3deg);
      }
    }
    img {
      display: block;
      width: 4.5rem;
      transition: transform 0.25s ease-in-out;
    }
  }

  .nav__items {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin: 0 1.5rem;
    @media(max-width: $lg) {
      margin: 0 1rem;
    }
    white-space: nowrap;
    &.dropdown {
      position: relative;
      margin-right: 2rem;
      padding: 2rem 1rem;
      &:hover {
        >.dropdown-menu {
          display: block;
        }
      }
      &:after {
        position: absolute;
        top: 45%;
        right: 0.25rem;
        content: "";
        background-image: url('images/chevron-down.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .nav__link {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    color: $black;
    font-weight: 600;
    font-family: $font-secondary;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: transparent;
      width: 0;
      height: 0;
      border-radius: 50%;
      z-index: -1;
      transition: all 0.25s ease-in-out;
    }
    &:hover {
      &:before {
        width: 2.5rem;
        height: 2.5rem;
        background-color: #B8DEE6;
      }
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: -1rem;
    width: auto;
    background-color: $white;
    padding: 0.5rem 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .dropdown-item {
    display: block;
    white-space: nowrap;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
    font-weight: 600;
    font-family: $font-secondary;
    padding: 1rem 0;
    transition: color 0.25s ease-in-out;
    &:hover {
      color: $blue;
    }
  }

  .nav__socials {
    display: flex;
  }

  .nav__social {
    display: block;
    margin-left: 2rem;
    transition: all 0.25s ease-in-out;
    filter: brightness(0);
    transform-origin: center;
    &:hover {
      transform: scale(1.15);
      filter: none;
    }
    &:first-of-type {
      margin-left: 0;
    }
    img {
      display: block;
      height: 1.5rem;
      width: auto;
    }
  }
}
