.contact {
  padding: 1rem 0 4rem;
  border-radius: 2.5rem;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.16);
  background-color: $white;
  @media (max-width: $sm) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.contact__title {
  text-align: center;
  margin-bottom: 5rem;
}

.contact__text {
  text-align: center;
  margin-bottom: 3rem;
  span {
    font-weight: 700;
  }
}

.contact__boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 5rem auto 3rem;
  @media (max-width: $sm) {
    flex-direction: column;
  }
}

.contact__box {
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
  @media (max-width: $sm) {
    margin-bottom: 3.5rem;
  }
  &--half {
    width: 35%;
    @media (max-width: $sm) {
      width: 100%;
    }
  }
}

.contact__box-title {
  margin: 0 0 1.5rem;
}

.contact__box-link {
  display: block;
}

.contact__socials {

}

.contact__socials-title {
  text-align: center;
}

.contact__socials-boxes {
  display: flex;
  justify-content: center;
  @media (max-width: $sm) {
    flex-direction: column;
    align-items: center;
  }
}

.contact__socials-box {
  margin: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $black;
  img {
    height: 2rem;
    width: auto;
    margin-right: 2rem;
  }
}

.contact__form-title {
  text-align: center;
  margin: 3.5rem 0;
  @media (max-width: $sm) {
    display: none;
  }
}

.contact__form {
  max-width: 45%;
  margin: 0 auto;
  @media (max-width: $lg) {
    max-width: 70%;
  }
  @media (max-width: $sm) {
    display: none;
  }
  .form__row {
    margin-bottom: 1rem;
    &.half {
      display: flex;
      justify-content: space-between;
      input {
        max-width: 48%;
      }
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="phone"],
  textarea {
    font-size: 1.15rem;
    flex: 1;
    border: none;
    outline: none;
    color: $black;
    font-family: $font-primary;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid $gray;
    transition: border-color 0.25s ease-in-out;
    &::placeholder {
      color: $black;
    }
    &:active,
    &:focus {
      border-color: $blue;
    }
  }
  textarea {
    min-height: 6rem;
  }
  button {
    display: block;
    margin: 2rem auto;
  }
}

.contact__bottom {
  text-align: center;
  max-width: 30%;
  margin: 6.5rem auto 0;
  @media (max-width: $lg) {
    max-width: 50%;
  }
  @media (max-width: $sm) {
    max-width: 100%;
    margin: 4rem auto 0;
  }
  span,
  a {
    text-decoration: none;
    color: $blue;
    font-weight: 700;
  }
}

