.cookies {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.16);
  animation: fadeIn 0.25s ease-in-out forwards;
  @media (max-width: $lg) {
    flex-direction: column-reverse;
  }
  &.active {
    display: flex;
  }
}

.cookies__image {
  width: 30%;
  @media (max-width: $lg) {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: $lg) {
     height: 4rem;
    }
  }
}

.cookies__info {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 1rem 2rem;
  @media (max-width: $lg) {
    flex-direction: column;
  }
}

.cookies__title {
  margin: 0;
  font-size: remcalc(40);
  font-family: $font-secondary;
  font-weight: 300;
}

.cookies__text {
  margin: 0 3rem 0 5rem;
  font-size: remcalc(14);
  max-width: 40%;
  @media (max-width: $lg) {
    max-width: 100%;
    margin: 1rem;
    text-align: center;
  }
  a {
    color: $black;
    text-decoration: underline;
  }
}

.cookies__button {
  color: $black;
  border: 1px solid $black;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-secondary;
  font-weight: 500;
  font-size: remcalc(14);
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  &:hover {
    background-color: #5DC8DE;
    border-color: #5DC8DE;
    color: $white;
  }
}
