.footer {
  padding: 2rem 0;
  width: 100%;
  background-color: $white;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $md) {
    flex-direction: column;
  }
}

.footer__left {
  width: 45%;
  display: flex;
  align-items: center;
  @media (max-width: $md) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.footer__logo {
  margin-right: 7rem;
  @media (max-width: $md) {
    margin: 0 auto;
  }
  img {
    display: block;
    width: 7rem;
  }
}

.footer__info {
  @media (max-width: $md) {
    margin: 3.5rem 0 2rem;
  }
}

.footer__info-title {
  margin: 0;
}

.footer__info-text {
  margin: 0;
}

.footer__right {
  width: 45%;
  @media (max-width: $md) {
    width: 100%;
  }
}

.footer__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: $md) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  a {
    display: block;
    font-family: $font-secondary;
    font-size: remcalc(20);
    font-weight: 700;
    color: $black;
    text-decoration: none;
    margin-left: 7rem;
    @media (max-width: $md) {
      margin: 1rem auto;
    }
  }
}
