.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 99;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.25s ease-in-out forwards;
  &.active {
    display: flex;
  }
}

.modal__box {
  background-color: $white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  border-radius: 2.5rem;
  padding: 5rem;
  width: 50%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  @media (max-width: $lg) {
    width: 80%;
  }
  @media (max-width: $sm) {
    margin-top: 2rem;
    width: 95%;
    padding: 3.5rem 2rem;
  }
}

.modal__close {
  cursor: pointer;
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  right: 2.5rem;
  top: 2.5rem;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  &:hover {
    opacity: 1;
  }
  @media (max-width: $lg) {
    width: 2.5rem;
    height: 2.5rem;
  }
  @media (max-width: $sm) {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.modal__title {
  margin: 0 0 3rem;
}

.modal__subtitle {
  margin: 0 0 3rem;
}

.modal__text {
  margin: 0;
  span {
    color: $blue;
  }
}

.modal__buttons {
  margin-top: 2rem;
}

.modal__button {
  margin: 1rem;
}
