.newsletter {
  padding: 1.5rem 0 3.5rem;
}

.newsletter__wrapper {
  max-width: 45%;
  margin: 0 auto;
  @media (max-width: $lg) {
    max-width: 70%;
  }
  @media (max-width: $sm) {
    max-width: 100%;
    padding-top: 1rem;
  }
}

.newsletter__title {
  text-align: center;
  margin-bottom: 3.5rem;
}

.newsletter__text {
  text-align: center;
  margin-bottom: 6rem;
  @media (max-width: $sm) {
    margin-bottom: 3rem;
  }
  span {
    font-weight: 700;
  }
}

.newsletter__form {
  @media (max-width: $sm) {
    padding: 0 2rem;
  }
  .form__row {
    margin-bottom: 1rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="phone"],
  textarea {
    font-size: 1.15rem;
    flex: 1;
    border: none;
    outline: none;
    color: $black;
    font-family: $font-primary;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid $gray;
    background-color: transparent;
    transition: border-color 0.25s ease-in-out;
    &::placeholder {
      color: $black;
    }
    &:active,
    &:focus {
      border-color: $blue;
    }
  }
  textarea {
    min-height: 6rem;
  }
  button {
    display: block;
    margin: 2rem auto;
    @media (max-width: $sm) {
      margin: 3.5rem auto 2rem;
    }
  }
}
