.contact-page {

  .contact__banner {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/contact-banner-desktop.png');
    @media(max-width: $lg) {
      min-height: 40vh;
    }
    @media(max-width: $sm) {
      min-height: 70vh;
      background-image: url('./images/contact-banner-mobile.png');
    }
    h1 {
      color: $white;
    }
  }

}
