.delivery-page {

  .delivery__form {
    padding: 0 0 4.5rem;
    @media (max-width: $sm) {
      padding: 3.5rem 0;
    }
  }

  .delivery__form-title {
    text-align: center;
    margin-bottom: 3.5rem;
    @media (max-width: $sm) {
      margin-bottom: 2rem;
    }
  }

  .delivery__form-form {
    max-width: 50%;
    margin: 0 auto;
    @media (max-width: $lg) {
      max-width: 70%;
    }
    @media (max-width: $sm) {
      max-width: 80%;
    }
  }

  .delivery__form-button {
    display: table;
    margin: 2rem auto;
    @media (max-width: $sm) {
      margin: 3.5rem auto 2rem;
    }
  }

  .delivery__form-inputs {
    display: flex;
    @media (max-width: $sm) {
      flex-direction: column;
    }
    input[type="text"] {
      display: block;
      margin: 0 1rem;
      font-size: 1.15rem;
      flex: 1;
      border: none;
      outline: none;
      color: $black;
      font-family: $font-primary;
      width: 100%;
      padding: 1rem 0;
      margin-bottom: 1rem;
      border-bottom: 1px solid $gray;
      background-color: transparent;
      transition: border-color 0.25s ease-in-out;
      &::placeholder {
        color: $black;
      }
      &:active,
      &:focus {
        border-color: $blue;
      }
      @media (max-width: $sm) {
        margin: 1rem 0;
        text-align: center;
      }
    }
  }
}
