.delivery-page {

  .map__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 1rem auto;
    @media (max-width: $lg) {
      max-width: 100%;
      margin: 3rem auto;
    }
    @media (max-width: $sm) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  .map__map {
    width: 40%;
    @media (max-width: $sm) {
      width: 100%;
    }
    svg {
      width: 100%;
    }
  }

  .map__list {
    width: 45%;
    @media (max-width: $sm) {
      width: 100%;
      text-align: center;
    }
  }

  .map__list-title {
    font-size: 2rem;
    margin: 0 0 2rem;
  }

  .map__list-items {
    padding: 0;
    margin: 0;
    columns: 2;
    @media (max-width: $sm) {
      columns: 1;
    }
  }

  .map__list-item {
    list-style-type: none;
    margin-bottom: 1rem;
    padding-right: 1rem;
    @media (max-width: $sm) {
      padding: 0;
    }
  }

}
