.home__banner {

  .banner__slider {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
  }

  .banner__slide {
    position: relative;
    height: 70vh;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width: $lg) {
      height: 50vh;
    }
    @media(max-width: $sm) {
      height: 80vh;
      padding: 0;
    }
  }

  .banner__image {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.desktop {
      display: block;
      @media(max-width: $sm) {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @media(max-width: $sm) {
        display: block;
      }
    }
  }

  .banner__slide-content {
    position: relative;
    z-index: 3;
    max-width: 50%;
    @media(max-width: $lg) {
      max-width: 60%;
    }
    @media(max-width: $sm) {
      max-width: 100%;
      height: 73vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 0;
    }
  }

  .banner__slide-title {
    margin: 0 0 2.5rem;
    @media(max-width: $sm) {
      margin: 0;
      color: $white;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.10);
    }
    span {
      font-weight: 400;
    }
  }

  .banner__slide-subtitle {
    margin: 0 0 2.5rem;
    @media(max-width: $sm) {
      margin: 0;
      color: $white;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.10);
    }
  }

  .banner__slide-text {
    @media(max-width: $sm) {
      display: none;
    }
  }

  .splide__arrow {
    background-color: transparent;
    svg {
      width: 2.15rem;
      height: 2.15em;
    }
  }
}

