.homepage {

  .home__bottom {
    display: flex;
    background-color: #F2F2F2;
    @media(max-width: $sm) {
      flex-direction: column;
    }
  }

  .home__bottom-image {
    width: 50%;
    @media(max-width: $sm) {
      width: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 3.25rem;
      border-bottom-left-radius: 3.25rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
      @media(max-width: $sm) {
        border-top-left-radius: 3.25rem;
        border-top-right-radius: 3.25rem;
        border-bottom-left-radius: 0;
      }
    }
  }

  .home__bottom-info {
    width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7%;
    @media(max-width: $md) {
      padding: 1rem 1.5rem;
    }
    @media(max-width: $sm) {
      padding: 3rem 2rem;
      width: 100%;
      border-bottom-left-radius: 3.25rem;
      border-bottom-right-radius: 3.25rem;
    }
  }

  .home__bottom-title {
    margin: 0 0 1.5rem;
  }

  .home__bottom-text {
    margin: 0;
  }

}
