.homepage {

  .home__break {
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    position: relative;
    @media(max-width: $lg) {
      min-height: 40vh;
    }
    @media(max-width: $sm) {
      min-height: 75vh;
      padding: 0;
    }
  }

  .break__image {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    &.desktop {
      display: block;
      @media(max-width: $sm) {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @media(max-width: $sm) {
        display: block;
      }
    }
  }

  .break__content {
    position: relative;
    z-index: 3;
    text-align: center;
  }

  .break__title {
    color: $white;
    margin: 0 0 1rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.10);
  }

  .break__text {
    color: $white;
    margin: 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.10);
  }


}
