.homepage {

  .home__delivery {
    padding: 2rem 0;
  }

  .delivery__title {
    text-align: center;
    @media(max-width: $sm) {
      text-align: left;
    }
    span {
      color: $blue;
      font-weight: 700;
    }
  }

  .delivery__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 1rem auto;
    @media (max-width: $lg) {
      max-width: 100%;
      margin: 3rem auto;
    }
    @media (max-width: $sm) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  .delivery__map {
    width: 40%;
    @media (max-width: $sm) {
      width: 100%;
    }
    svg {
      width: 100%;
    }
  }

  .delivery__list {
    width: 45%;
    @media (max-width: $sm) {
      width: 100%;
      text-align: center;
    }
  }

  .delivery__list-title {
    margin-bottom: 2rem;
  }

  .delivery__list-items {
    padding: 0;
    margin: 0;
    columns: 2;
    @media (max-width: $sm) {
      columns: 1;
    }
  }

  .delivery__list-item {
    list-style-type: none;
    margin-bottom: 1rem;
    padding-right: 1rem;
    @media (max-width: $sm) {
      padding: 0;
    }
  }

  .delivery__button {
    margin-top: 2rem;
    @media (max-width: $sm) {
      margin-bottom: 4.5rem;
    }
  }

}
