.homepage {

  .home__testimonials {
    padding: 3rem 0;
  }

  .testimonials__title {
    text-align: center;
    span {
      color: $blue;
      font-weight: 700;
    }
  }

  .testimonials__slider {
    margin: 3rem 0;
    padding: 0 5%;
    @media (max-width: $sm) {
      margin: 0;
    }
  }

  .testimonials__box {
    height: 100%;
    padding: 3rem;
    background-color: $white;
    border-radius: 3rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    position: relative;
    @media (max-width: $lg) {
      padding: 3rem 2rem;
    }
    &:before {
      content: "";
      position: absolute;
      top: 45%;
      width: 13rem;
      height: 13rem;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 10rem;
      color: $blue;
      opacity: 0.15;
      background-image: url('images/quote.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .testimonials__box-image {
    display: block;
    margin: 0 auto 2rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
  }

  .testimonials__box-text {
    margin: 0;
    @media (max-width: $sm) {
      font-size: 0.9rem;
    }
  }

  .home__testimonials .splide__arrow {
    background-color: transparent;
    svg {
      width: 2.15rem;
      height: 2.15em;
    }
  }

  .home__testimonials .splide__slide {
    flex: 1;
    transition: transform 0.25s ease-in-out;
    transform-origin: center;
    &.is-active {
      transform: scale(1.1);
      @media (max-width: $lg) {
        transform: none;
      }
    }
  }

  .home__testimonials .splide__track {
    padding: 3rem 0;
  }

}
