.homepage {

  .home__why {
    padding: 2rem 0;
  }

  .why__title {
    text-align: center;
    @media(max-width: $sm) {
      text-align: left;
    }
    span {
      color: $blue;
      font-weight: 700;
    }
  }

  .why__wrapper {
    max-width: 60%;
    margin: 4rem auto;
    @media (max-width: $lg) {
      max-width: 100%;
    }
  }

  .why__text {
    text-align: center;
    margin: 1.5rem auto;
    @media(max-width: $sm) {
      text-align: left;
    }
  }

  .why__boxes {
    margin: 4rem auto;
    display: flex;
    align-items: center;
    @media(max-width: $sm) {
      flex-direction: column;
    }
  }

  .why__box {
    flex: 1;
    display: flex;
    align-items: center;
    @media(max-width: $sm) {
      width: 100%;
      margin: 1rem 0;
    }
  }

  .why__box-number {
    background-color: $blue-light;
    border-radius: 50%;
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    min-height: 5rem;
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    span {
      transform: translateX(15%);
      font-size: 3.25rem;
      font-weight: 700;
    }
  }

  .why__box-text {
    margin-left: 1rem;
  }

  .why__button {
    display: table;
    margin: 0 auto;
  }

}
