.pricing-page {

  .pricing__banner {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;
    position: relative;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    @media(max-width: $lg) {
      height: 40vh;
    }
    @media(max-width: $sm) {
      height: 75vh;
      padding: 0;
    }
  }

  .banner__image {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.desktop {
      display: block;
      @media(max-width: $sm) {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @media(max-width: $sm) {
        display: block;
      }
    }
  }

  .banner__content {
    position: relative;
    z-index: 3;
    max-width: 40%;
  }

  .banner__title {
    margin: 0 0 2.5rem;
  }

  .banner__text {
    margin: 0 0 2.5rem;
  }
}

