.pricing-page {

  .main__diets-title {
    text-align: center;
    margin: 6rem 0 9rem;
    @media (max-width: $sm) {
      margin: 5rem 0 4rem;
    }
  }

  .main__diets {
    display: flex;
    justify-content: center;
    @media (max-width: $lg) {
      flex-wrap: wrap;
    }
  }

  .main__diet {
    max-width: 20rem;
    position: relative;
    margin: 0 2rem;
    transition: transform 0.25s ease-in-out;
    cursor: pointer;
    @media (max-width: $lg) {
      max-width: 20%;
      margin: 0 2.5%;
    }
    @media (max-width: $sm) {
      max-width: 100%;
      margin: 0 0 3rem;
    }
    &.active {
      transform: translateY(-5%);
      @media (max-width: $sm) {
        transform: none;
        .main__diet-image {
          border-radius: 50%;
          overflow: hidden;
          //green overlay
          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #BEE5D1;
            opacity: 0.5;
          }
        }
      }
      &:before {
        opacity: 1;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: -4rem;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1rem solid $blue;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      @media (max-width: $sm) {
        display: none;
      }
    }
  }

  .main__diet-image {
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    transition: border-radius 0.25s ease-in-out;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .main__diet-title {
    margin: 0;
    padding: 1.25rem 0.35rem;
  }
}

