.pricing-page {

  .main__meals {

  }

  .main__meals-title {
    text-align: center;
    margin: 4rem 0 5rem;
  }

  .main__meals-list {
    display: flex;
    justify-content: center;
    @media (max-width: $sm) {
      flex-wrap: wrap;
    }
  }

  .main__meal {
    background-color: #F2F2F2;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.16);
    margin: 0 1rem;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
    @media (max-width: $sm) {
      width: 5rem;
      height: 5rem;
    }
    &.active {
      color: $blue;
    }
  }

}

