.pricing-page {

  .main__pricing {
    margin: 6rem 0 7rem;
  }

  .main__pricing-title {
    text-align: center;
    margin: 0 0 5rem;
  }

  .main__pricing-boxes {
    display: flex;
    justify-content: center;
    @media (max-width: $md) {
      flex-wrap: wrap;
    }
  }

  .main__pricing-box {
    text-align: center;
    border-right: 1px solid #9A9A9A;
    padding: 0.5rem 2.5rem;
    @media (max-width: $md) {
      width: 50%;
      margin: 0 auto 3rem;
      &:nth-child(2n) {
        border-right: 0;
      }
    }
    &:last-of-type {
      border-right: 0;
    }
  }

  .main__pricing-box-title {
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 2.5rem;
    @media (max-width: $sm) {
      font-size: 2.5rem;
      margin: 0 0 2rem;
    }
  }

  .main__pricing-box-text {
    text-transform: uppercase;
    margin: 0;
    @media (max-width: $sm) {
      font-size: 0.9rem;
    }
  }

  .main__pricing-extra {
    text-align: center;
    margin: 5rem auto 3rem;
    @media (max-width: $sm) {
      margin: 0 auto;
    }
  }

}

