.pricing-page {

  .pricing__slides {
    padding: 0 0 4.5rem;
    @media (max-width: $sm) {
      padding: 0.5rem 0 4.5rem;
    }
  }

  .pricing__title {
    text-align: center;
    margin-bottom: 4rem;
    @media(max-width: $sm) {
      margin-bottom: 3rem;
    }
  }

  .pricing__slide {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: $lg) {
      padding-bottom: 7rem;
    }
    @media (max-width: $sm) {
      flex-direction: column-reverse;
      padding-bottom: 2rem;
    }
  }

  .pricing__slide-info {
    width: 50%;
    position: relative;
    @media (max-width: $sm) {
      width: 100%;
    }
  }

  .pricing__slide-title {
    margin: 0;
  }

  .pricing__slide-text {
    margin: 2.5rem 0;
    line-height: 1.8;
  }

  .pricing__slide-buttons {
    @media (max-width: $sm) {
      display: flex;
    }
  }

  .pricing__slide-button {
    margin-right: 1rem;
    @media (max-width: $sm) {
      white-space: nowrap;
      margin-right: 0.5rem;
    }
    &.button--secondary {
      @media (max-width: $sm) {
        border: none;
        box-shadow: none;
      }
    }
  }

  .pricing__slide-price {
    background-color: $blue-light;
    position: absolute;
    right: -8rem;
    bottom: -6rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    text-align: center;
    @media (max-width: $sm) {
      bottom: auto;
      top: -9rem;
      right: 2.5rem;
    }
    p {
      margin: 0.5rem 0 0 4rem;
      font-size: 1.8rem;
      font-weight: 700;
    }
    span {
      display: block;
      font-size: 3.15rem;
      font-weight: 700;
      margin-left: -2.5rem;
    }
  }

  .pricing__slide-image {
    width: 45%;
    @media (max-width: $sm) {
      width: 100%;
      margin-bottom: 8rem;
    }
    img {
      display: block;
      width: 100%;
    }
  }



  .pricing__slides .splide__arrow {
    background-color: transparent;
    &.splide__arrow--prev {
      left: -5rem;
      @media (max-width: $md) {
        left: -2rem;
      }
      @media (max-width: $sm) {
        left: -1rem;
        top: 12.5rem;
      }
    }
    &.splide__arrow--next {
      right: -5rem;
      @media (max-width: $md) {
        right: -2rem;
      }
      @media (max-width: $sm) {
        right: -1rem;
        top: 12.5rem;
      }
    }
    svg {
      width: 2.15rem;
      height: 2.15em;
    }
  }


}
